div(data-ng-controller='AddCardCtrl')

  div.row
    div.col-md-5
      | To add&nbsp;
      code(data-ng-bind='newCard',data-theme="bootstrap")
      |  either fill in the details of a new user below or

    div.col-md-5
      ui-select(ng-model="addcard.user")
        ui-select-match(placeholder="add the card to an existing user")
          | {{$select.selected.name}}
        ui-select-choices(repeat="user in users track by $index",refresh="refreshUsers($select.search)",refresh-delay="0")
          | {{user.name}}

    div.col-md-1
      a(ng-show="addcard.user",ng-click="clear()",class="btn btn-danger btn-xs ui-select-bootstrap-clear") Clear selection

  hr

  div(data-ng-include="'/partials/user/'")
