doctype
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Seed App
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/fontawesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body
